<!DOCTYPE html>
<html>
  <head>
    <title>5onit | The Grubhub for Weed</title>
    <link href="{{STATIC_URL}}css/viewing.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="navigationBar">
      <div id="navigationBarPart1">
        <h1 id="navigationLogo"></h1>
        <a href="" class="navigationPart1Link">Pickup</a>
        <a href="" class="navigationPart1Link" id="active">Delivery</a>
      </div>
      <div id="navigationBarPart2">
        <a href="#" id="timeSelection"><span style="float: left;" class="fontello biggerFont">T</span>ASAP <span style="" class="fontello">D</span></a>
      </div>
      <div id="navigationBarPart3">
        <p class="fontello icon">L</p>
        <input class="navigationInput" placeholder="Where are you? (Required)">
      </div>
      <div id="navigationBarPart4">
        <p class="fontello icon">S</p>
        <input class="navigationInput" placeholder="Search (e.g. Purple, sour, satifa)">
      </div>
      <div id="navigationBarPart5">
        <a href="#" id="contactLink">Contact Us</a>
        <a href="#" class="navigationBarPart5Link">c</a>
        <a href="#" class="navigationBarPart5Link">u</a>
      </div>
    </div>
    <div id="rightSide">
      <div id="rightSideTop">
        <p id="orderFrom">Order From</p>
        <p id="vendorName">King of Mary Jane LTD.</p>
        <p class="deliverTo">Deliver To</p>
        <a href="#" class="deliverTo" style="color: #cc00cc;">2167 Cruger Ave. Apt. 3M</a>
        <a href="#" id="checkout">Proceed To Checkout</a>
        <p id="productCost">Delivery order for $7.57</p>
        <a href="#" id="pickup">Pickup Instead?</a>
      </div>
      <div id="rightSideSecond">
        <div class="orderItemContainer">
          <a href="#" class="removeItem">x</a>
          <a href="#" class="itemName"><span class="numberOfItem">1</span> Nickel White Widow</a>
          <p class="itemPrice">$5.00</p>
        </div>
        <p id="subtotal">Items Subtotal:</p>
        <p class="subtotal">$5.00</p>
        <br/>
        <p id="subtotal">Delivery Fee:</p>
        <p class="subtotal">$2.00</p>
        <br/>
        <p id="subtotal">Sales Tax:</p>
        <p class="subtotal">$0.57</p>
        <div id="total">
          <h1 id="totalPrice">Total:</h1>
          <h1 class="totalPrice">$7.57</h1>
        </div>
      </div>
    </div>
    <div id="mainPage">
      <div id="mainTop">
        <a href="#" id="backLink">< Back</a>
        <div id="topInformationContainer">
          <h1 id="name">King of Mary Jane LTD.</h1>
          <p id="topInformationRating"><span style="color: #F8BD00;">★★★</span>★★</p>
          <p id="hours">Open 11:00 AM to 11:00 PM</p>
          <p id="phone">1 (917) 375 - 5678</p>
          <p id="pricing"><span style="color: #F8BD00;">$</span>$$$$</p>
        </div>
        <div id="logoContainer">
          <img src="images/sample.png" id="logo" alt=""/>
        </div>
        <div id="extraInfoContainer">
          <div class="extraInfoContainerPart">
            <p class="extraInfoContainerPartHeader">FREE</p>
            <p class="extraInfoContainerPartSubHeader">Delivery</p>
          </div>
          <div class="extraInfoContainerPart">
            <p class="extraInfoContainerPartHeader">30-40 m</p>
            <p class="extraInfoContainerPartSubHeader">Est. Wait</p>
          </div>
          <div class="extraInfoContainerPart">
            <p class="extraInfoContainerPartHeader">$10</p>
            <p class="extraInfoContainerPartSubHeader">Min</p>
          </div>
        </div>
        <img src="images/back.jpg" id="headerImage" alt=""/>
      </div>
      <div id="menu">
        <a href="#" class="menuCategory">Most Popular</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
        <a href="#" class="menuCategory">Category</a>
        <div class="menuItemContainer">
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
          <a href="#" class="menuItem">
            <p class="menuItemName">White Widow</p>
            <p class="menuItemPrice">$5.00</p>
          </a>
        </div>
      </div>
      <div id="reviews">
        <div id="reviewTop">
          <h1 id="reviewHeader">Reviews For King of Mary Jane LTD.</h1>
          <p id="reviewStars"><span style="color: #F8BD00;">★★★</span>★★</p>
        </div>
        <div class="reviewContainer">
          <p class="reviewIcon">A</p>
          <p class="reviewName">Alex</p>
          <p class="reviewRating"><span style="color: #F8BD00;">★★★</span>★★</p>
          <p class="reviewText">Hella dope man, i loved it.</p>
        </div>
        <div class="reviewContainer">
          <p class="reviewIcon">D</p>
          <p class="reviewName">David</p>
          <p class="reviewRating"><span style="color: #F8BD00;">★★★</span>★★</p>
          <p class="reviewText">weed was good, but a bit under-ground. couldve been better but it was pretty good overall</p>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="footerSection">
        <a href="#" class="footerSectionHeader">Get to Know Us</a>
        <a href="#" class="footerSectionLink">About Us</a>
        <a href="#" class="footerSectionLink">Promotions</a>
        <a href="#" class="footerSectionLink">Our Blog, the Delivery Bag</a>
        <a href="#" class="footerSectionLink">Careers</a>
        <a href="#" class="footerSectionLink">Investor Relations</a>
      </div>
      <div class="footerSection">
        <a href="#" class="footerSectionHeader">Business Solutions</a>
        <a href="#" class="footerSectionLink">Join Our Restaurant Network</a>
        <a href="#" class="footerSectionLink">Drive With Us</a>
        <a href="#" class="footerSectionLink">Learn About Company Accounts</a>
      </div>
      <div class="footerSection">
        <a href="#" class="footerSectionHeader">Contact & Help</a>
        <a href="#" class="footerSectionLink">Contact Us</a>
        <a href="#" class="footerSectionLink">FAQ</a>
      </div>
      <div class="footerSection">
        <a href="#" class="footerSectionHeader">Browse By Cities</a>
        <a href="#" class="footerSectionLink">New York City</a>
        <a href="#" class="footerSectionLink">Manhattan</a>
        <a href="#" class="footerSectionLink">Queens</a>
        <a href="#" class="footerSectionLink">Brooklyn</a>
        <a href="#" class="footerSectionLink">View All Cities >></a>
      </div>
      <div class="footerSection">
        <a href="#" class="footerSectionHeader">Browse By Cuisines</a>
        <a href="#" class="footerSectionLink">Breakfast</a>
        <a href="#" class="footerSectionLink">Chinese</a>
        <a href="#" class="footerSectionLink">Healthy</a>
        <a href="#" class="footerSectionLink">Indian</a>
        <a href="#" class="footerSectionLink">Italian</a>
        <a href="#" class="footerSectionLink">Late Night</a>
        <a href="#" class="footerSectionLink">Mexican</a>
        <a href="#" class="footerSectionLink">Pizza</a>
        <a href="#" class="footerSectionLink">Sushi</a>
        <a href="#" class="footerSectionLink">Thai</a>
        <a href="#" class="footerSectionLink">View All Cuisines >></a>
      </div>
      <div id="footerBottomDiv">
        <p id="copyright">&copy; 2016 FiveOnIt All Rights Reserved</p>
        <a href="#" class="footerBottomDivLink">Privacy Policy</a>
        <a href="#" class="footerBottomDivLink">Terms Of Use</a>
      </div>
    </div>
  </body>
</html>